// Colors

$background-white: #FFFFFF;
$background-gray: #F7F7F7;

$text-color-white: #FFFFFF;
$text-color-black: #000000;
$text-color-red: #FF001B;
$text-color-gray: #545454;
$text-color-light-gray: #8C8C8C;  //Используется в модалке

$hover-orange: #FF6B08;

$logo-color: #818181;




