<footer class="footer">
  <div class="footer-wrapper container">
    <div class="footer__text-wrapper">
      <p class="footer__copyright-text">&copy; 2020 | All Rights Reserved |</p>
      <p class="footer__team-text">
        &nbsp;Developed with
        <svg class="footer__icon-heart" width="14" height="12">
          <use href="./images/icons.svg#icon-love"></use>
        </svg>
        by&nbsp;<span class="footer__students" data-studentsModal="studentsModal"
          >GoIT Students</span
        >
      </p>
    </div>
  </div>
  <div class="footer__modal-backdrop is-hidden" data-footerModalBackdrop="footerModalBackdrop">
    <div class="footer__modal">
      <button class="footer__closeBtn" type="button" data-action="footerCloseBtn">
        <svg class="footer__close-icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="footer__modal-title">Our mug shots :)</h2>
      <ul class="footer__modal-students">
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Lilia Lomaka</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Mykhailo Mishkin</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Viacheslav Severyn</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Denisenko Victoria</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Vitalii Peresoliak</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Anton Honcharov</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Ksenia Malyshenko</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Dmytro Moroz</p>
        </li>
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="100"
            height="auto"
            alt=""
          />
          <p class="student-card__student-name">Skochii Bohdan</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
