<footer class="footer">
  <div class="footer-wrapper container">
    <div class="footer__text-wrapper">
      <p class="footer__copyright-text">&copy; 2022 | All Rights Reserved |</p>
      <p class="footer__team-text">
        &nbsp;Developed with
        <svg class="footer__icon-heart" width="14" height="12">
          <use href="./images/icons.svg#icon-love"></use>
        </svg>
        by&nbsp;<span class="footer__students" data-studentsModal="studentsModal"
          >GoIT Students</span
        >
      </p>
    </div>
  </div>
  <div class="footer__modal-backdrop is-hidden" data-footerModalBackdrop="footerModalBackdrop">
    <div class="footer__modal">
      <button class="footer__closeBtn" type="button" data-action="footerCloseBtn">
        <svg class="footer__close-icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="footer__modal-title">TEN (nine) FROM UKRAINE :)</h2>
      <ul class="footer__modal-students">
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/l-lomaka.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/llomaka" rel="noopener noreferrer" target="_blank">Lilia Lomaka</p>
        </li>

        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/v-denysenko.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/Viktoriia-Denysenko" rel="noopener noreferrer" target="_blank">Viktoriia Denysenko</p>
        </li>
        
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/k-malyshenko.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/kseniyamesch" rel="noopener noreferrer" target="_blank">Ksenia Malyshenko</p>
        </li>

        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/m-mishkin.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/slavasever" rel="noopener noreferrer" target="_blank">Mykhailo Mishkin</p>
        </li>

        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/v-syveryn.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/AHoncharovv" rel="noopener noreferrer" target="_blank">Viacheslav Severyn</p>
        </li>
       
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/v-peresolyak.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/vitality96" rel="noopener noreferrer" target="_blank">Vitalii Peresoliak</p>
        </li>

        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/a-honcharov.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/AHoncharovv" rel="noopener noreferrer" target="_blank">Anton Honcharov</p>
        </li>
        
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/placeholder-image.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/MorozDS" rel="noopener noreferrer" target="_blank">Dmytro Moroz</p>
        </li>
        
        <li class="student-card">
          <img
            class="student-card__image"
            src="/images/team/b-skochii.jpg"
            width="250"
            height="250"
            alt=""
          />
          <a class="student-card__student-name" href="https://github.com/skochdev" rel="noopener noreferrer" target="_blank">Skochii Bohdan</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
