<section class="main-section">
  <!-- <div class="filter__buttons_wrapper">
        <ul class="filter__list">
            <li class="filter__item">
                <button class="filter__btn" type="button">Daily trending</button>
            </li>
            <li class="filter__item">
                <button class="filter__btn" type="button">Weekly trending</button>
            </li>
        </ul>
    </div> -->
  <div class="container main__wrapper">
    <h1 class="visually-hidden">Watch movies online with Filmoteka</h1>
    <ul class="gallery movie__list" data-action="galleryList"></ul>
  </div>
  <button type="button" class="btn-up">
    <svg class="icon-up" width="12" height="12">
      <use href="./images/icons.svg#icon-arrow-up"></use>
    </svg>
  </button>
  <div id="pagination2" class="tui-pagination"></div>
</section>
