.film__modal-backdrop {
  position: fixed;
  overflow-y: scroll;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.692);
  opacity: 1;
  transition: opacity 200ms $transition-default-timing;
}

.film__modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.film__modal {
  position: relative;
  display: block;
  width: 280px;
  margin: 20px auto;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $background-white;

  @media screen and (min-width: 480px) {
    width: 80vw;
  }

  @media screen and (min-width: $tablet) {
    width: 704px;
    margin: 219px auto 0px;
    padding: 40px 36px;
  }

  @media screen and (min-width: $desktop) {
    width: 814px;
    margin: 151px auto 0px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.film__modal-closeBtn {
  position: absolute;
  background-color: $hover-orange;
  top: 8px;
  right: 8px;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
}

.film__modal-close {
  width: 14px;
  height: 14px;
  transition: $fill-transition;

  &:hover,
  :focus {
    fill: $hover-orange;
  }
}

.darkmode--activated .film__modal {
  background-color: #1f1f1f;
  border: 1px solid $text-color-light-gray;
}

.darkmode--activated .film__caption {
  color: $text-color-white;
}

.film__modal-backdrop.is-hidden .film__modal {
  transform: translate(-100% -100%);
}
