.filter__list {
  width: 100%;

  display: none;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 32px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.filter__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin: 8px auto;
  }
}

.filter__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: $text-color-white;
  color: $hover-orange;
  border: 1px solid $hover-orange;
  border-radius: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  min-width: 70px;
  padding: 5px;
  transition: $box-shadow-transition;

  @media screen and (min-width: $tablet) {
    font-size: 13px;
  }

  @media screen and (min-width: $desktop) {
    height: 30px;
    min-width: 90px;
  }

  &:hover,
  &:focus {
    background-color: $hover-orange;
    color: $text-color-white;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(75, 49, 20, 0.2), 0px 4px 4px rgba(92, 63, 27, 0.2),
      1px 4px 6px rgba(116, 63, 30, 0.2);
  }
}

.filter__btn--active {
  background-color: $hover-orange;
  color: $text-color-white;
}

.darkmode--activated .filter__btn {
  background-color: $text-color-black;
  color: $text-color-white;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: $hover-orange;
    color: $text-color-white;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(75, 49, 20, 0.2), 0px 4px 4px rgba(92, 63, 27, 0.2),
      1px 4px 6px rgba(116, 63, 30, 0.2);
  }
}
