.main-section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.main__wrapper {
  position: relative;
}
