.main-section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
  }
}

.main__wrapper {
  position: relative;
}
