.main-section {

  @media screen and (min-width: $mobile) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}


