.sidebar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(530px, 0);
  font-size: 14px;
  color: $text-color-black;

  .darkmode--activated & {
    color: $text-color-white;
  }
}

.sidebar__header {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__item {
  &:hover {
    color: $hover-orange;
  }
}

.sidebar__link--active {
  font-weight: 700;
  color: $hover-orange;
  text-decoration: underline;

  &:hover {
    color: $hover-orange-dark;
    text-decoration: underline;
  }
}