.movie__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px 16.5px;
  }
}

.movie__item {
  position: relative;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: $box-shadow-transition;

  @media screen and (min-width: $tablet) {
    @include fbasis(2, 32px);
  }

  @media screen and (min-width: $desktop) {
    @include fbasis(3, 16.5px);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0px 4px 12px rgba(75, 49, 20, 0.2), 0px 4px 4px rgba(92, 63, 27, 0.2),
      1px 4px 6px rgba(116, 63, 30, 0.2);
    // transform: scale(1.01);
  }
}

.movie__poster {
  width: 100%;
  height: 402px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @media screen and (min-width: $tablet) {
    height: 455px;
  }

  @media screen and (min-width: $desktop) {
    height: 449px;
  }
}

.js-placeholder {
  object-fit: contain;
  padding: 30px;
  background-color: rgb(41, 37, 34);

  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.movie__caption {
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.33;
}

.movie__title {
  font-size: inherit;
  font-weight: inherit;
  color: $text-color-black;
  text-transform: uppercase;
}

.movie__genre {
  color: $hover-orange;
}

.movie__vote {
  display: inline-block;
  margin-left: 8px;
  padding: 1px 9px 1px 10px;
  line-height: 1.17;
  border-radius: 5px;
  color: $text-color-white;
  background-color: $hover-orange;
}

.movie__vote--position {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 0px;
}

.darkmode--activated .movie__vote {
  color: $text-color-white;
}
